body {
    margin: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: auto;
}

.header-container {
    grid-column: 1 / 4;
    grid-row: 1;
}

#iwd-header {
    justify-self: stretch;
    max-width: 100vw;
}

.nav-container {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(6, 15vw);
    grid-template-rows: auto;
}

a {
    text-decoration: none;
    color: blue;
}

#home {
    grid-column: 1;
    text-align: center;
    align-self: center;
}

#autonomy {
    grid-column: 2;
    text-align: center;
    align-self: center;
}

#zumo {
    grid-column: 3;
    text-align: center;
    align-self: center;
}

#sumo {
    grid-column: 4;
    text-align: center;
    align-self: center;
}

#line-follow {
    grid-column: 5;
    text-align: center;
    align-self: center;
}

#line-maze {
    grid-column: 6;
    text-align: center;
    align-self: center;
}

.main-container {
    grid-column: 2;
    grid-row: 3;
}

#sign-up-link {
    font-size: 2rem;
    font-weight: bold;
    color: green;
    text-align: center;
}

#sumo-winner {
    font-size: 1.5rem;
    font-weight: bold;
    color: blueviolet;
}

#bracket {
    max-width: 90vw;
}

#test-pad {
    max-width: 90vw;
}

.footer-container {
    grid-column: 2;
    grid-row: 4;
}

#gdg-tucson-logo {
    max-height: 5vh;
}
